@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  margin: 0;
  margin-top: -4.8rem;
  /* position: relative; */
}

/* PAGE 1 CSS */

#page1 {
  background-color: #bbe1fa;
  text-align: center;
  margin-top: 5%;
  padding-top: 2rem;
  color: #424874;
  font-family: "Sacramento", cursive;
  font-size: 250%;
  transition: background 1s ease;
}
.cloud {
  width: 60%;
  margin-left: 10%;
}
.hills {
  width: 50%;
  height: 30rem;
}
.namemain {
  font-size: 4.5rem;
  height: 3.3rem;
}

/* PAGE 2 CSS */

#page2 {
  background-color: #f4eeff;
  font-family: "Montserrat", sans-serif;
  color: #424874;
  padding-top: 0px;
  /* padding-bottom: 200px; */
}
.sunrise {
  width: 11%;
  display: block;
  margin-left: 7%;
  padding-bottom: 3%;
}
.forest {
  height: 15rem;
  width: 27.1rem;
  padding: 2rem;
  padding-top: 6rem;
}
.myimage {
  width: 12.25rem;
  border-radius: 100%;
  margin-left: 28.125rem;
  padding-top: 1.5625rem;
}
table {
  max-width: 75rem;
  display: inline-block;
  padding-top: 2.5rem;
  padding-left: 1.5625rem;
  vertical-align: top;
  text-align: center;
}

.intro1 {
  height: 2.5rem;
}

/*-------------------- PAGE 3 CSS ------------------------- */

#page3 {
  padding-top: 5rem;
  background-color: #f7fbfc;
  font-family: "Montserrat", sans-serif;
}
#page3 h1 {
  margin: 0;
}
.skills-img {
  margin-top: 0;
  padding-left: 41rem;
  padding-right: 3rem;
  width: 6rem;
  float: left;
  /* display: inline-block; */
}
.skills-text {
  padding-top: 1.9rem;
  padding-left: 5rem;
  color: #ff8b13;
}
.coding-img {
  width: 12rem;
  padding-left: 20rem;
  padding-top: 4rem;
  padding-right: 8rem;
}
.skills-table {
  padding-top: 7rem;
  text-align: left;
  line-height: -20px;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  max-width: 100%;
  display: block;
  margin-bottom: 10rem;
}
.hob-text {
  float: right;
  padding-top: 1.5rem;
  padding-right: 38rem;
  color: #f273e6;
}
.hobbies-img {
  width: 6rem;
  display: block-inline;
  padding-left: 39rem;
}
.gaming-img {
  width: 12rem;
}

.hobbies-table {
  padding-left: 17rem;
  text-align: left;
  max-width: 100%;
  line-height: -4rem;
  margin: 5rem;
  display: block;
}
.hobbies-table td {
  font-size: 1.5rem;
  padding-right: 3rem;
}

.edu-img {
  margin: 3rem auto auto 37rem;
  width: 10rem;
  display: inline-block;
}
.edu-txt {
  float: right;
  padding-top: 6rem;
  padding-right: 35rem;
  color: #00a8cc;
}
.edu-ul {
  width: 100%;
  padding-left: 23rem;
  font-size: 1.5rem;
  line-height: 4rem;
  padding-bottom: 5rem;
}
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #bbe1fa;
  padding-left: 3rem;
  display: flex;
  flex-direction: row;
}
.stu-intro {
  width: 2rem;
  padding-right: 62rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.nav1 {
  text-align: center;
  padding-right: 1rem;
  color: #424874;
  text-decoration: solid;
  font-family: "Raleway", sans-serif;
}
.div-cont {
  /* padding-right: 8rem; */
  padding-top: 1rem;
  text-align: center;
}

/* ------------------ PAGE 4 --------------------  */

#page4 {
  background-color: #a9f1df;
  margin-top: -1.4rem;
  font-family: "Montserrat", sans-serif;
}
.contact-img {
  width: 3rem;
  padding-top: 1.1rem;
  padding-left: 40rem;
  display: inline-block;
}
.contact-txt {
  float: right;
  padding-left: 0rem;
  display: inline-block;
  padding-right: 38rem;
}
.contact img {
  width: 2rem;
  padding-right: 2rem;
}
.contact {
  margin-top: 7rem;
  padding-left: 40rem;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
}
.t-txt {
  text-decoration: none;
  color: black;
}
.f-txt {
  text-decoration: none;
  color: black;
}
.i-txt {
  text-decoration: none;
  color: black;
}
.cont-list {
  list-style-type: none;
  line-height: 5rem;
}
.l-txt {
  color: black;
  text-decoration: none;
}
