body {
  background-color: #bbe1fa;
  margin: 0;
  position: relative;
}
.page1 {
  text-align: center;
  margin-top: 5%;
  color: #424874;
  font-family: "Sacramento", cursive;
  font-size: 250%;
}
.cloud {
  width: 60%;
  margin-left: 10%;
}
.hills {
  width: 50%;
  height: 30rem;
}
.namemain {
  height: 3rem;
}
.page2 {
  background-color: #f4eeff;
  font-family: "Montserrat", sans-serif;
  color: #424874;
  padding-top: 0px;
  /* padding-bottom: 200px; */
}
.sunrise {
  width: 11%;
  display: block;
  margin-left: 7%;
  padding-bottom: 3%;
}
.cloud {
  padding-left: 5%;
  width: 11%;
}
.forest {
  height: 15.625rem;
  width: 25rem;
  padding: 2.6677rem;
  padding-top: 1.25rem;
  /* display: block; */
}
.myimage {
  width: 12.25rem;
  border-radius: 100%;
  margin-left: 28.125rem;
  padding-top: 1.5625rem;
}
table {
  max-width: 75rem;
  display: inline-block;
  padding-top: 2.5rem;
  padding-left: 1.5625rem;
  vertical-align: top;
  text-align: center;
}

.intro1 {
  height: 2.5rem;
}
